body {
    font-family: 'Segoe UI', sans-serif;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.dark-mode {
    background-color: #1a202c;
    color: #a0aec0;
}
.dark-mode nav {
    background-color: #0d1016;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.dark-mode footer {
    background-color: #0d1016;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.dark-mode input[type="text"],
.dark-mode input[type="email"] {
    background-color: #0d1016;
    color: #a0aec0;
    border: 1px solid #333;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.dark-mode .project-box {
    background-color: #0d1016;
    transition: background-color 0.5s ease, color 0.5s ease;
}
.icon-hover {
    display: inline-block;
    transition: transform 0.3s ease;
}
.icon-hover:hover {
    transform: scale(1.2);
    animation: sheen 1s forwards;
}
@keyframes sheen {
    0% {
        color: #fff;
        text-shadow: 0 0 20px #fff;
    }
    100% {
        color: #008cff;
        text-shadow: 0 0 5px #008cff;
    }
}
.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.5rem;
}
.project-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
}
.project-box {
    transition: transform 0.5s ease, z-index 0.5s ease;
}
.enlarged {
    transform: scale(1.5);
    z-index: 10;
}
.custom-link {
    color: blue !important;
    text-decoration: underline !important;
}
.custom-link:hover {
    color: darkblue !important;
}
.hidden {
    display: none;
}
.typing-container {
    display: inline-block;
    position: relative;
    font-size: 1.5rem;
}
.typing-text {
    display: inline;
}
.typing-highlight {
    color: #008cff;
    font-weight: bold;
}
.typing-cursor {
    display: inline-block;
    width: 0.1em;
    height: 1em;
    vertical-align: bottom;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    50% {
        background-color: transparent;
    }
}